<section class="landing-block js-animation fadeIn" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
	<div class="landing-block-node-bgimg g-bg-size-cover g-bg-img-hero text-center g-py-170 g-mb-minus-140" style="background-image: url(https://cdn.bitrix24.site/bitrix/images/landing/business/1920x800/img1.jpg);">

        <a class="landing-block-node-button u-icon-v3 u-icon-size--xl u-block-hover--scale g-overflow-inherit g-bg-white g-color-gray-dark-v1 g-color-primary--hover g-font-size-20 rounded-circle g-text-underline--none--hover g-cursor-pointer mb-3" href="//www.youtube.com/watch?v=q4d8g9Dn3ww" target="_popup" data-url="//www.youtube.com/embed/q4d8g9Dn3ww?autoplay=1&amp;controls=1&amp;loop=0&amp;rel=0&amp;start=0&amp;html5=1&amp;v=q4d8g9Dn3ww">
			<img class="landing-block-node-card-icon d-block g-height-20 g-left-2 g-relative-centered--y mr-auto g-ml-37" src="https://cdn.bitrix24.site/bitrix/images/landing/play-black.png">
        </a>

        <div class="banner trapeze-block trapeze-block_left g-white g-z-index-1 g-pos-rel">
            <div
                class="landing-block-node-text js-animation fadeInUp g-line-height-1_5 text-left g-mb-40 g-color-white"
                data-form-style-main-font-weight="1"
                data-form-style-header-text-font-size="1"
                data-form-style-label-font-weight="1"
                data-form-style-label-font-size="1"
                data-form-style-second-font-color="1"
                data-selector=".landing-block-node-text@0">

                <h3 class="g-font-size-40 g-font-exo g-font-700 g-lh-1_2 g-mb-40">
                    Мы тщательно отбираем поставщиков и тестируем каждую партию товара
                </h3>
            </div>
            <div class="landing-block-node-card-contact-container">
                <div class="landing-block-node-card-contact">
                    <div class="media align-items-center mb-4">
                        <div class="media-body">
                            <div class="landing-block-node-contact-text mb-0 text-left g-font-size-20 g-white">
                                <p>
                                    Поставляем детали напрямую с заводов-производителей. На
                                    каждый завод приезжаем лично, исследуем — как проходит
                                    контроль качества и на каком оборудовании изготавливаются
                                    детали.
                                </p>
                                <br />
                                <p>
                                    Дополнительно тестируем образцы из каждой партии на
                                    собственном стенде.
                                </p>
                                <br />
                                <p>
                                    К продаже допускаем только агрегаты, соответствующие
                                    стандартам.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>