<section class="landing-block g-bg-top g-pos-rel g-py-34 landing-block-node-bgimg g-position-rel">
    <div class="white-and-yellow"></div>
    <div class="container g-z-index-1 g-pos-rel">
        <div class="row align-items-center">
            <div class="landing-block-form-styles" hidden="">
                <div
                    class="g-bg-transparent h1 g-color-white g-brd-none g-pa-0"
                    data-form-style-wrapper-padding="1"
                    data-form-style-bg="1"
                    data-form-style-bg-content="1"
                    data-form-style-bg-block="1"
                    data-form-style-header-font-size="1"
                    data-form-style-header-font-weight="1"
                    data-form-style-button-font-color="1"
                    data-form-style-border-block="1"
                ></div>
                <div
                    class="g-bg-primary g-color-primary g-brd-primary"
                    data-form-style-main-bg="1"
                    data-form-style-main-border-color="1"
                    data-form-style-main-font-color-hover="1"
                ></div>
                <div
                    class="g-bg-transparent g-brd-none g-brd-bottom g-brd-white"
                    data-form-style-input-bg="1"
                    data-form-style-input-border="1"
                    data-form-style-input-border-radius="1"
                    data-form-style-input-border-color="1"
                ></div>
                <div
                    class="g-brd-primary g-brd-none g-brd-bottom g-bg-black-opacity-0_7"
                    data-form-style-input-border-hover="1"
                    data-form-style-input-border-color-hover="1"
                    data-form-style-input-select-bg="1"
                ></div>
            </div>
            <div class="col-lg-6 g-mb-10 js-animation slideInLeft">
                <img class="g-img-w-120pr g-position-h-left--65" src="https://gl.githack.com/Galeups/transstarter-themplate/raw/master/img/order_form.png" alt="">
            </div>

            <div class="col-lg-6 col-md-12 g-mb-10 js-animation slideInRight">
                <h3
                    class="landing-block-node-main-title js-animation fadeInUp mb-4 text-center g-font-exo g-font-size-115 g-font-700">
                    -75%
                </h3>
                <div
                    class="landing-block-node-text g-line-height-1_5 text-left g-mb-40 g-font-exo"
                    data-form-style-main-font-weight="1"
                    data-form-style-header-text-font-size="1"
                    data-form-style-label-font-weight="1"
                    data-form-style-label-font-size="1"
                    data-form-style-second-font-color="1"
                    data-selector=".landing-block-node-text@0"
                >
                    <p class="text-center g-font-exo g-font-size-32 g-font-700 g-lh-1_25">
                        Для оптовиков действуют <br />
                        специальные цены - <br />
                        на 75% ниже розничных
                    </p>
                </div>
                <div class="landing-block-node-card-contact-container">
                    <div class="landing-block-node-card-contact">
                        <div class="media align-items-center g-mb-16">
                            <div class="media-body">
                                <div class="landing-block-node-contact-text">
                                    <p class="text-center g-font-exo g-font-600 g-font-size-20 g-lh-1_4">
                                        <b>Получите доступ к оптовым ценам <br />
                                            и коммерческое предложение</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="landing-block-node-card-contact">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <div class="landing-block-node-contact-text ">
                                    <p class="text-center g-font-size-16 g-lh-1_5 g-font-ptsans g-mb-16">
                                        Менеджер перезвонит, подготовит индивидуальное коммерческое
                                        предложение и откроет доступ к оптовым ценам
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bitrix24forms landing-block-node-form ttform g-brd-none g-brd-around--sm g-px-0 g-px-20--sm g-px-45--lg g-py-0 u-form-alert-v1"
                        data-b24form="184|r0o0bf"
                        data-form-style-input-border-color="1"
                        data-b24form-use-style="Y"
                        data-b24form-show-header="N"
                        data-b24form-original-domain="https://tstarter.bitrix24.ru"
                    ></div>
                    <div class="landing-block-node-card-contact">
                        <div class="media align-items-center g-mt-8">
                            <div class="media-body">
                                <div class="landing-block-node-contact-text ">
                                    <p class="text-center g-lh-1_4 g-px-90">
                                        Нажимая на кнопку, вы даете согласие на обработку своих
                                        персональных данных и соглашаетесь с Политикой конфиденциальности.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>