<section
  class="landing-block g-pos-rel g-pt-50 g-pb-590 landing-block-node-bgimg g-bg-size-cover g-bg-img-hero g-bg-cover"
  style="background-image: url('https://cdn.bitrix24.ru/b488493/landing/862/862e14a9033df8f5d8b4c6d67f151639/bg1.jpg'); background-image: -webkit-image-set(url('https://cdn.bitrix24.ru/b488493/landing/862/862e14a9033df8f5d8b4c6d67f151639/bg1.jpg') 1x, url('https://cdn.bitrix24.ru/b488493/landing/29e/29eb8d05383b5ff744443ce9e4ccad90/bg1_2x.jpg') 2x); background-image: image-set(url('https://cdn.bitrix24.ru/b488493/landing/862/862e14a9033df8f5d8b4c6d67f151639/bg1.jpg') 1x, url('https://cdn.bitrix24.ru/b488493/landing/29e/29eb8d05383b5ff744443ce9e4ccad90/bg1_2x.jpg') 2x);">
  <div class="container g-z-index-1 g-pos-rel">
    <div class="col align-items-center">
      <div class="landing-block-node-text js-animation fadeInUp g-line-height-1_5 text-left g-mb-10 g-color-white">
        <p class="g-font-size-40 exobold text-left g-font-exo g-font-700 g-lh-1_2 g-mb-40">
          Детали соответствуют <br />
          Российским <br />
          и международным <br />
          стандартам качества
        </p>
      </div>
      <div class="landing-block-node-card-contact-container">
        <div class="landing-block-node-card-contact">
          <div class="media align-items-center">
            <div class="media-body">
              <div class="landing-block-node-contact-text mb-0">
                <a href="#" class="text-left g-white g-font-exo g-font-600 g-font-size-24 g-bb-dot-white link">
                  Смотреть сертификаты
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
