<div class="container g-mt-80 g-mb-80">
    <div class="row">
        <div class="col-md-5 order-1 order-md-2">
            <img
                class="landing-block-node-img js-animation slideInLeft img-fluid"
                src="https://cdn.bitrix24.ru/b488493/landing/563/563a85d0c8671b2b01e3e328c49479ad/manager3.jpg"
                srcset="https://cdn.bitrix24.ru/b488493/landing/4e6/4e67e2ac14e322b9e58e76df4dc66c12/manager3_2x.jpg 2x"
                data-fileid="1480178"
                data-fileid2x="-1"
            />
        </div>
        <div class="col-md-6 d-flex text-center text-md-left order-1 order-md-2">
            <div class="align-self-center">
                <div class=" g-mb-20">
                    <p class="landing-block-node-main-title js-animation fadeInUp g-mb-8 text-center g-font-700 g-green g-font-size-115">
                        -50%
                    </p>
                    <div class="landing-block-node-text g-lh-1_25 g-mb-16 g-black g-font-700">
                        <p class="text-center g-font-size-32">
                            <b>Получите доступ к оптовым ценам прямо сейчас и покупайте детали
                                до 50% дешевле
                            </b>
                        </p>
                    </div>
                    <div class="media-body">
                        <div class="landing-block-node-contact-text ">
                            <p class="text-center g-font-size-14">
                                Менеджер перезвонит, подготовит индивидуальное коммерческое
                                предложение и откроет доступ к оптовым ценам
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="bitrix24forms landing-block-node-form js-animation fadeInUp g-brd-none g-brd-around--sm g-brd-white-opacity-0_6 g-px-0 g-px-20--sm g-px-45--lg g-py-0 g-py-30--sm g-py-10--lg u-form-alert-v1"
                    data-b24form="184|r0o0bf"
                    data-form-style-input-border-color="1"
                    data-b24form-use-style="Y"
                    data-b24form-show-header="N"
                    data-b24form-original-domain="https://tstarter.bitrix24.ru"
                ></div>
                <div class="landing-block-node-card-contact g-max-w-360 g-block-center-h">
                    <div class="media align-items-center mb-4">
                        <div class="media-body">
                            <div class="landing-block-node-contact-text ">
                                <p class="text-center g-font-size-11">
                                    Нажимая на кнопку, вы даете согласие на обработку своих
                                    персональных данных и соглашаетесь с Политикой
                                    конфиденциальности
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>