
<div class="container g-font-exo g-flex g-flex-just-sb g-mt-80">
    <h3 class="g-font-size-40 g-font-700">
        Каждый день мы пополняем ассортимент <br />
        или запускаем новую акцию
    </h3>
    <a href="#" class="g-font-size-24 g-green g-link-decor g-font-700">
        Все акции <br />
        и новинки
    </a>
</div>

